.profile-container{

    /* background-color: red; */
    margin-top: 105px;
    margin-left: 306px;
    width: 82%;
}
.profile-sub-container{
    /* background-color: yellow; */
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-profile{
    /* background-color: rosybrown; */
    width: 32%;
    /* position: fixed;
    left: 0px; */
    height: 87vh;
    overflow-y: scroll;
}

.user-posts{
    /* background-color: royalblue; */
    padding:5px;
    width: 47%;
}
.profile-ad{
    background-color: saddlebrown;
    width: 22%;
}

.profile-post{
    /* background-color: salmon;  */
}

#profile-post-card{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
}

#profile-user-pic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile-pic{
    /* background-color: red; */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile-user-img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#profile-post-date{
    width: 78%;
    /* background-color: yellow; */
    text-align: left;
}

#profile-username{
    font-weight: bold;
    font-size: 18px;
    color: rgb(68, 67, 67);
}

#profile-post-date{
    font-size: 13px;
    color: gray;
}
.profile-post-data{
    /* background-color: red; */
    margin-top: 10px;
}
#profile-post-img{
    width: 100%;
}

#profile-about-img{
    margin-top: 10px;
    /* background-color: red; */
    text-align: left;
}
#profile-like-comment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.profile-comment-div{
    background-color: #e4e6e8;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
    margin-top: 10px;
}

#profile-comment-section{
    width: 75%;

}
#profile-post{
    /* background-color: green; */
    width: 10%;
    margin-left: 30px;
}


.profile-bottom{
    /* background-color: red; */
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
#edu-id{
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

#profile-score{
    font-size: 13px;
    font-weight: bold;
}

#followers-div{
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#followers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    color: rgb(82, 120, 247);
    font-weight: bold;
    /* background-color: red; */
}
#follow-no{
    background-color: cadetblue;
    padding: 0px 5px 0px 5px;
    color: white;
    font-weight: bold;
    border-radius: 20%;
    margin-left: 10px;
}

.profile-img-part{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin-top: 20px;
    /* background-color: red; */
}
#profile-img-contain{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#profile-detail{
    margin-left: 10px;
    text-align: left;
    /* margin-bottom: 10px; */
}

#profile-name{
    font-size: 18px;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: 1px;
}
#user-state{
    font-size: 14px;
    color: rgb(105, 103, 103);
}

#usr-dob{
    font-size: 14px;
    color: rgb(105, 103, 103);
}

#edit-profile-div{
    /* background-color: lightgray; */
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#edit-profile-btn{
    background-color: transparent;
    border: none;
    color: rgb(82, 120, 247);
    text-decoration: underline;
}
#pencil-img{
    margin-right: 5px;
}
.user-bio-main-div{
    margin-top: 20px;
}

#user-describe{
    display: flex;
    font-weight: bold;
    margin-top: 10px;
}

#about-description{
    /* background-color: red; */
    margin-top: 5px;
    width: 95%;
    margin-left: 10px;
    text-align: left;
    word-spacing: 1px;
    line-height: 20px;
    font-style: oblique;
}

#subtitle{
    margin-top: 10px;
    font-weight: 500;
    font-style: oblique;
}

#pdf-btn-div{
    margin-top: 15px;
    padding: 10px;
}
#pdf-btn{
    width: 50%;
    padding: 5px;
    border: none;
    background-color:  #cc0000;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: underline;
}

#pdf-img{
    margin-right: 10px;
}
#pdf{
    height: 30px;
}

.profile-popup{
    width: 600px;
}

#update-title{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}
.profile-table{
    padding: 10px;
}

.profile-table th{
    width: 40%;
}
.update-close-div{
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: flex-end;
    margin-top: -20px;
}
#update-close-btns{
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: space-around;
}